# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/winp/.vs/winp/v15
/winp/Debug
/winp/winp/Debug
/winp/winp/winp.vcxproj
/winp/winp/winp.vcxproj.filters
/winp/winp/winp.vcxproj.user
/winp/winp.sln
/winp/winp/x64/Debug
/winp/x64/Debug
